{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">


    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      Olá, {{ usuario.funcionario.nome }}

    </div>
    <div class="col-sm">
        <a href="{% url 'logout' %}">Logout</a>

        {% if usuario.funcionario.emepresa %}
            <a href="">Editar empresa </a>
        {% else %}
            <a href="">Criar empresa</a>
        {% endif%}
    </div>
  </div>
</div>s
</body>
</html>



